@media screen and (max-width:576px){
    header{
        box-shadow: none;
    }
    nav,.nav-right{
        flex-direction: column;
    }
    nav{
        gap: 2rem;
    }
    .navigation{
        box-shadow: none;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
        margin: 50px;
        gap: 50px;
    }
    .banner-bg-adjust{
        background-image: none;
    }
    .banner-text{
        background-image: url(../images/Group\ 14.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 50px;
        margin: 50px;
    }
    /* gamer */
    .gamer{
        flex-direction: column;
        gap: 60px;
    }
    .gamer-text{
        text-align: center;
        padding: 50px;
    }
    /* video */
    .video{
        padding: 50px;
    }
    .cards{
        flex-direction: column;
    }
    /* game-1 */
    .games-1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .games-text{
        text-align: center;
        margin: 0;
    }
    .games-img{
        max-width: 70%;
    }
    .games-img>img{
        max-width: 100%;
    }
    .absolute-img{
        bottom: -35px;
        left: -43px;
    }
    .absolute-img>img{
        width: 60%;
    }
    .absolute-img-2>img{
        width: 100%;
    }
    .absolute-img-2{
        right: -70px;
        left: auto;
    }
}